.waktu {
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tombol{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.tombol .Start{
    background-color: rgb(63, 114, 202);
}

.tombol .reset{
    background-color: brown;
}

.tombol button{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.lap{
    display: flex;
    justify-content: center;
}   

.hasil{
    display: flex;
    justify-content: center;
}

.stopwatch{
    border: 1px solid black;
    border-radius: 25px;
    margin: auto;
    width: 500px;
    height: auto;
}

*{
    font-family: "Poppins", sans-serif;
}
